:root {
  --emergency: #bf0000;
  --indigo: #16609c;
  --steel: #456caa;
  --light-blue: #c3dfe9;
  --blue: #426c82;
  --green: #52bfb9;
  --breen: #4daec9;
  --yellow: #ffa61a;
}

@font-face {
  font-family: "CarnasW03-Black";
  src: url("../assets/CarnasW03_Black.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  font-size: 10pt;
  font-weight: 100;
}

h2 {
  word-spacing: 0.2rem;
  font-weight: 800;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

button {
  padding: 15px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 300ms;
}

a {
  text-decoration: none;
  color: #fff;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  border: none;
  padding: 5px;
  font-size: 1.5rem;
}
