header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

.show_header {
  animation: show_header 300ms both;
}

.hide_header {
  animation: hide_header 300ms both;
}

/*
 - - - - - - - - - - - - - - -
 - - - - - Landscape - - - - -
 - - - - - - - - - - - - - - -
*/

#nav_landscape {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
}

#nav_landscape > .nav_list {
  margin-top: 25px;
  width: calc(100% - 100px);
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav_landscape > .nav_list li,
#nav_landscape > .nav_list li > #btn_emergency {
  font-size: 1.3rem;
  font-weight: 800;
  list-style: none;
  cursor: pointer;
}

#nav_landscape > .nav_list li {
  margin: 10px 0 25px 0;
}

#nav_landscape > .nav_list li a {
  transition: 300ms;
}

#nav_landscape > .nav_list li > #btn_emergency {
  padding: 15px;
  color: #fff;
  background-color: var(--emergency);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 300ms;
}

#nav_landscape > .nav_list > li > a:hover {
  color: var(--green);
}

.selected {
  color: var(--green);
}

.noselected {
  transition: 300ms;
}

/*
 - - - - - - - - - - - - - - -
 - - - - - Portrait  - - - - -
 - - - - - - - - - - - - - - -
*/

#nav_hamburger > .div_ham {
  display: flex;
  justify-content: center;
}

#nav_hamburger > .div_ham > div {
  padding: 10px;
  position: fixed;
  display: grid;
  justify-items: center;
  gap: 6px;
  margin: 25px 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#nav_hamburger > .div_ham > div > span {
  height: 5px;
  width: 30px;
  background-color: var(--yellow);
  cursor: pointer;
  transition: 300ms;
}

#nav_hamburger > #nav_portrait {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#nav_hamburger > #nav_portrait > .back {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
}

#nav_hamburger > #nav_portrait > #nav_list {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

#nav_hamburger > #nav_portrait > #nav_list > li {
  font-size: 1.3rem;
  font-weight: 900;
  border-bottom: 1px solid #cfcfcf;
  cursor: pointer;
}

#nav_hamburger > #nav_portrait > #nav_list > li:hover {
  background-color: var(--light-blue);
}

#nav_hamburger > #nav_portrait > #nav_list > li > a,
#nav_hamburger > #nav_portrait > #nav_list > li > span {
  padding: 15px 60px 15px 20px;
  display: block;
}

#nav_hamburger > #nav_portrait > #nav_list > li > span {
  color: #fff;
  background-color: var(--emergency);
}

.show_nav {
  animation: show_nav 300ms both;
}

.hide_nav {
  animation: hide_nav 300ms both;
}

/*
 - - - - - - - - - - - - - - -
 - - - - - Keyframes - - - - -
 - - - - - - - - - - - - - - -
*/

@keyframes show_header {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hide_header {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes show_nav {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hide_nav {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*
 - - - - - - - - - - - - - - -
 - - - - - Media Query - - - -
 - - - - - - - - - - - - - - -
*/

@media (max-width: 1150px) {
  #nav_landscape > .nav_list li,
  #nav_landscape > .nav_list li > #btn_emergency {
    font-size: 1.2rem;
  }
}

@media (max-width: 1050px) {
  #nav_landscape > .nav_list li,
  #nav_landscape > .nav_list li > #btn_emergency {
    font-size: 1.1rem;
  }
}

@media (max-width: 950px) {
  #nav_landscape {
    display: none;
  }

  .noselected {
    color: var(--blue);
  }
}

@media (min-width: 951px) {
  #nav_hamburger {
    display: none;
  }

  .noselected {
    color: white;
  }

  .selected,
  .noselected {
    text-shadow: 1px 1px 1px #454545;
  }
}
