#sect_top {
  width: 100%;
  height: 100vh;
  background-color: #aa9b39;
  background-image: url("../assets/imgs/bg_firstfold.jpg");
}

#sect_top > .div_logo {
  padding-top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#sect_top > .div_logo > img {
  width: 600px;
}

#sect_top > .div_arrow {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

#down_arrow {
  height: 50px;
  animation: anim_arrow 2s infinite linear;
  cursor: pointer;
}

#sect_us {
  background-image: url("../assets/imgs/img-nosotroshome-left.png");
  background-position: left;
}

#sect_us > .cont {
  height: 500px;
  background-image: url("../assets/imgs/img-nosotroshome-right.png");
  background-position: 105%;
}

#sect_us,
#sect_us > .cont {
  background-repeat: no-repeat;
  background-size: contain;
}

#sect_us > .cont,
#sect_us > .cont > .about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sect_us > .cont > .about {
  align-items: self-start;
  max-width: 700px;
  gap: 30px;
}

#sect_us > .cont > .about > .title {
  font-weight: 900;
}

#sect_us > .cont > .about > .title span:first-of-type {
  color: var(--blue);
  font-size: 3rem;
}

#sect_us > .cont > .about > .title span:last-of-type {
  color: var(--breen);
  font-size: 4rem;
}

#sect_us > .cont > .about > .body {
  color: var(--blue);
  font-size: 1.3rem;
  font-weight: bold;
}

#sect_us > .cont > .about > .body > button {
  margin-top: 30px;
  background-color: var(--yellow);
}

#sect_us > .cont > .about > .body > button:hover {
  background-color: var(--breen);
}

#sect_services {
  padding: 100px 0 75px;
  text-align: center;
  background-color: #1b53ac;
  background-image: url("../assets/imgs/bg_servicioshome.jpg");
}

#sect_services > h2 {
  color: #fff;
  font-size: 3.5rem;
}

#sect_services > .div_p {
  display: flex;
  justify-content: center;
}

#sect_services > .div_p > p {
  max-width: 50%;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 45px 0 30px;
}

#sect_services > button {
  background-color: var(--yellow);
}

#sect_services > button:hover {
  background-color: var(--breen);
}

#sect_adopt {
  display: block;
  overflow-x: hidden;
  background-color: var(--green);
  background-image: url("../assets/imgs/bg_simbolo_verde.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sect_adopt > .cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sect_adopt > .cont > .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  z-index: 3;
}

#sect_adopt > .cont > .left > div {
  text-align: center;
}

#sect_adopt > .cont > .left > div > h2 {
  color: #fff;
  margin: 20px 0 30px;
}

#sect_adopt > .cont > .left > div > button {
  background-color: var(--yellow);
}

#sect_adopt > .cont > .left > div > button:hover {
  background-color: var(--breen);
}

#sect_adopt > .cont > .right {
  position: absolute;
  right: 0;
}

#sect_lost {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  background-image: url("../assets/imgs/bg_lostfoundhome.jpg");
  display: flex;
  align-items: center;
}

#sect_lost div {
  width: 1000px;
  color: #fff;
}

#sect_lost h2 {
  font-size: 4rem;
}

#sect_lost p {
  margin: 20px 0;
  font-size: 2rem;
}

#sect_lost button {
  background-color: var(--yellow);
}

#sect_lost button:hover {
  background-color: var(--breen);
}

#sect_shop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url("../assets/imgs/bg_shophome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#sect_shop > .div_img > img {
  height: 400px;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
}

#sect_shop > .cont {
  padding: 20px;
  width: 700px;
  color: #fff;
  text-align: center;
  z-index: 3;
}

#sect_shop > .cont > h2 {
  margin: 20px 0;
  font-size: 2rem;
}

#sect_shop > .cont > p {
  margin: 20px 0;
  font-size: 1.3rem;
}

#sect_shop > .cont > .form h3 {
  margin-bottom: 15px;
}

#sect_shop > .cont > .form button {
  padding: 8px 20px;
  background-color: var(--yellow);
  border-radius: 5px;
}

#sect_shop > .cont > .form button:hover {
  background-color: var(--breen);
}

#sect_family {
  display: flex;
  margin-bottom: 25px;
}

#sect_family > div {
  max-width: calc(50% - 50px);
  margin-top: 75px;
  text-align: end;
}

#sect_family > .div_placa > img {
  width: 100%;
  max-width: 500px;
}

#sect_family > .div_cont img {
  width: 100%;
  max-width: 400px;
}

#sect_family .title {
  margin-top: 20px;
  font-size: 2rem;
  color: var(--blue);
}

#sect_family .title span {
  color: var(--breen);
}

#sect_family .body {
  margin: 15px 0;
  color: var(--blue);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#sect_family button {
  background-color: var(--yellow);
}

#sect_family button:hover {
  background-color: var(--breen);
}

#sect_tortugas {
  position: absolute;
  right: 0;
}

#sect_tortugas > img {
  height: 300px;
}

#sect_visit {
  margin-top: 180px;
  display: flex;
  align-items: center;
  gap: 30px;
}

#sect_visit > .div_pericos img {
  width: 100%;
  max-width: 515px;
  transform: translateY(4px);
}

#sect_visit > .cont {
  padding-left: 15px;
  z-index: 3;
}

#sect_visit > .cont h2 {
  color: var(--breen);
  font-size: 4rem;
  margin-bottom: 40px;
}

#sect_visit > .cont > div {
  max-width: 600px;
  display: flex;
  gap: 25px;
  line-height: 2rem;
}

#sect_visit > .cont h3 {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#sect_visit > .cont h4,
#sect_visit > .cont p,
#sect_visit > .cont > div > div:last-of-type p,
#sect_visit > .cont span {
  font-size: 1.3rem;
  font-weight: bold;
}

#sect_visit > .cont h4 {
  color: var(--yellow);
}

#sect_visit > .cont p {
  color: var(--blue);
}

#sect_visit > .cont > div > div:last-of-type p {
  color: var(--yellow);
}

#sect_visit > .cont span {
  color: var(--blue);
}

#modal_register {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 9;
}

#modal_register > .back {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

#modal_register > .container {
  max-height: calc(100% - 30px);
  max-width: 800px;
  color: #fff;
  position: relative;
  background-color: var(--steel);
  background-image: url("../assets/imgs/bg_bottom_servicios-1536x152.png");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: bottom;
  border-radius: 5px;
  animation: show_modal 300ms;
  z-index: 10;
}

#modal_register > .container > .close {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 15px;
  background-color: var(--yellow);
  border-radius: 100%;
  cursor: pointer;
  z-index: 11;
}

#modal_register > .container > .close > img {
  height: 20px;
}

#modal_register > .container > .cont {
  height: fit-content;
  max-height: calc(100vh - 30px);
  padding: 25px;
  padding-bottom: 75px;
  overflow-y: scroll;
}

#modal_register > .container > .cont > .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

#modal_register > .container > .cont > form > .double,
#modal_register > .container > .cont > form > .triple {
  display: grid;
  grid-gap: 10px;
}

#modal_register > .container > .cont > form > .double {
  grid-template-columns: repeat(2, 1fr);
}

#modal_register > .container > .cont > form > .triple {
  grid-template-columns: repeat(3, 1fr);
}

#modal_register > .container > .cont > form > .double input,
#modal_register > .container > .cont > form > .triple input {
  width: 100%;
}

#modal_register > .container > .cont > form > div {
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: bold;
}

#modal_register > .container > .cont > form div {
  display: grid;
}

#modal_register > .container > .cont > form .name {
  padding-bottom: 10px;
}

#modal_register > .container > .cont > form > .div_pp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#modal_register > .container > .cont > form > .div_submit {
  text-align: center;
  justify-items: center;
}

#modal_register > .container > .cont > form > .div_submit button {
  width: fit-content;
  background-color: var(--yellow);
}

#modal_register > .container > .cont > form > .div_submit button:hover {
  background-color: var(--breen);
}

.close_modal_anim {
  animation: close_modal 300ms both;
}

@keyframes anim_arrow {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-75%);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-25%);
  }
  67% {
    transform: translateY(0);
  }
}

@keyframes show_modal {
  0% {
    transform: scale(0);
  }
}

@keyframes close_modal {
  100% {
    transform: scale(0);
  }
}

@media (max-width: 1200px) {
  #sect_us > .cont {
    background-position: 120%;
  }

  #sect_us > .cont > .about > .title span:first-of-type {
    font-size: 2rem;
  }

  #sect_us > .cont > .about > .title span:last-of-type {
    font-size: 3rem;
  }

  #sect_lost div {
    width: 800px;
  }
}

@media (max-width: 1150px) {
  #sect_tortugas > img {
    height: 225px;
  }
}

@media (max-width: 1000px) {
  #sect_us {
    background-image: none;
  }

  #sect_us > .cont {
    justify-content: left;
    padding-left: 25px;
  }

  #sect_us > .cont > .about {
    display: inline;
    max-width: 500px;
  }
}

@media (max-width: 990px) {
  #sect_tortugas {
    display: none;
  }

  #sect_visit {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  #sect_top > .div_logo > img {
    width: 500px;
  }

  #sect_us > .cont > .about {
    max-width: 300px;
  }

  #sect_adopt > .cont > .left {
    display: inline;
  }

  #sect_lost div {
    width: 600px;
  }

  #sect_shop > .div_img > img {
    height: 300px;
    transform: translateY(-100%);
  }

  #sect_family {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #sect_family > div {
    max-width: none;
    text-align: center;
  }

  #modal_register > .container {
    max-width: calc(100% - 30px);
  }
}

@media (max-width: 650px) {
  #sect_us > .cont {
    justify-content: center;
    background-image: none;
  }

  #sect_us > .cont > .about {
    text-align: center;
  }

  #sect_adopt > .cont > .right {
    display: none;
  }

  #sect_lost div {
    width: 300px;
  }

  #sect_shop > .div_img > img {
    height: 200px;
    transform: translateY(-150%);
  }
}

@media (max-width: 600px) {
  #modal_register > .container > .cont > form > .triple {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  #sect_top > .div_logo > img {
    width: 400px;
  }

  #down_arrow {
    height: 30px;
  }

  #modal_register > .container > .cont > form > .double {
    grid-template-columns: 1fr;
  }
}
