#sect_top {
  height: 500px;
  padding: 50px;
  display: flex;
  align-items: center;
  background-color: #3f61a0;
  background-image: url("../assets/imgs/top_nosotros.jpg");
  border-radius: 0 0 50% 50% / 0 0 100px 100px;
}

#sect_top > .div_img {
  height: 200px;
  padding-right: 50px;
  border-right: 2px solid #fff;
  display: flex;
  align-items: center;
}

#sect_top > .div_img > img {
  width: 450px;
}

#sect_top > .cont {
  padding-left: 30px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}

#sect_top > .cont span {
  color: var(--yellow);
}

#sect_team {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

#sect_team > .cont {
  color: var(--blue);
  font-size: 1.4rem;
  font-weight: bold;
}

#sect_team > .div_img > img {
  width: 500px;
}

.div_block {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--yellow);
}

#sect_mvv {
  display: flex;
  flex-wrap: wrap;
}

#sect_mvv > div {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#sect_mvv > div > div {
  text-align: center;
}

#sect_mvv > div > div > h1 {
  font-size: 3.3rem;
  margin-bottom: 20px;
}

#sect_mvv > div > div > p {
  font-size: 1.4rem;
  font-weight: bold;
}

.div_mision {
  width: 100%;
  background-color: #365494;
  background-image: url("../assets/imgs/bg_mision.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

.div_mision > div {
  width: 50%;
}

.div_vision,
.div_valores {
  width: 50%;
}

.div_vision > div,
.div_valores > div {
  padding: 15px;
}

.div_vision {
  background-color: #2bc5c6;
  background-image: url("../assets/imgs/bg_vision.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.div_valores {
  background-color: #a22e11;
  background-image: url("../assets/imgs/bg_valores.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  #sect_team {
    flex-wrap: wrap;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  #sect_top > .div_img > img {
    width: 350px;
  }
}

@media (max-width: 900px) {
  #sect_top {
    display: block;
  }

  #sect_top > .div_img {
    padding: 0;
    border: none;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .div_vision,
  .div_valores {
    width: 100%;
  }
}

@media (max-width: 650px) {
  #sect_top > .div_img > img {
    width: 400px;
  }
}

@media (max-width: 600px) {
  #sect_top {
    height: fit-content;
  }
}

@media (max-width: 550px) {
  #sect_top > .div_img > img {
    width: 350px;
  }

  #sect_team > .div_img > img {
    width: 400px;
  }
}

@media (max-width: 450px) {
  #sect_top > .div_img > img {
    width: 300px;
  }

  #sect_team > .div_img > img {
    width: 300px;
  }
}
