main {
  display: flex;
  justify-content: center;
  padding: 150px 0 50px;
}

#container {
  width: 800px;
}

#container > section {
  margin-bottom: 30px;
}

#container > section > h1 {
  color: var(--yellow);
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#container > section > p {
  color: var(--indigo);
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 1000px) {
  #container {
    width: 600px;
  }
}

@media (max-width: 800px) {
  #container {
    width: 400px;
  }
}

@media (max-width: 600px) {
  #container {
    width: 300px;
  }
}
