#sect_top {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f478d;
  background-image: url("../assets/imgs/top_adopt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 50% 50% / 0 0 100px 100px;
}

#sect_top > div {
  width: 1200px;
}

#sect_info {
  display: grid;
  justify-content: center;
}

#sect_info > div {
  width: 1200px;
  padding: 20px 0;
  display: flex;
  gap: 30px;
}

#sect_info .cont {
  font-weight: 900;
}

#sect_info .cont .requi h1 {
  margin-top: 20px;
}

#sect_info .cont h1 {
  color: var(--yellow);
  font-size: 2rem;
}

#sect_info .cont li {
  margin-top: 15px;
  color: var(--blue);
  font-size: 1.3rem;
  list-style-position: inside;
}

#sect_info .div_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sect_adopt {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  color: var(--indigo);
}

#sect_adopt > div {
  width: 1200px;
}

#sect_adopt .div_title > h1,
#sect_adopt .div_title > h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#sect_adopt .div_animals {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#sect_adopt .div_animals .div_animal {
  text-align: center;
}

#sect_adopt .div_animals .div_animal img {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #999999;
  cursor: pointer;
}

#sect_adopt .div_animals .div_animal h3 {
  margin: 15px 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 300ms;
}

#sect_adopt .div_animals .div_animal h3:hover {
  color: var(--yellow);
}

#sect_adopt .div_animals .div_animal button {
  background-color: var(--yellow);
}

#sect_adopt .div_animals .div_animal button:hover {
  background-color: var(--breen);
}

.div_bottom {
  height: 300px;
  background-image: url("../assets/imgs/img-adopt-bottom.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (max-width: 1300px) {
  #sect_top > div,
  #sect_info > div,
  #sect_adopt > div {
    width: 1000px;
  }

  #sect_info .div_img > img {
    width: 500px;
  }
}

@media (max-width: 1100px) {
  #sect_top > div,
  #sect_info > div,
  #sect_adopt > div {
    width: 800px;
  }

  #sect_info > div {
    flex-wrap: wrap;
  }

  #sect_info .div_img {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  #sect_top > div {
    width: 100%;
    display: grid;
    justify-content: center;
  }

  #sect_info > div,
  #sect_adopt > div {
    width: 600px;
  }
}

@media (max-width: 700px) {
  #sect_info > div,
  #sect_adopt > div {
    width: 400px;
  }

  #sect_info .div_img > img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #sect_top > div {
    padding: 15px;
    width: calc(100% - 30px);
  }

  #sect_top > div > img {
    min-width: 250px;
    width: 100%;
    max-width: 300px;
  }

  #sect_info > div {
    width: 350px;
  }
}
