#sect_top {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/imgs/top_servicios.jpg");
  background-size: cover;
  border-radius: 0 0 50% 50% / 0 0 100px 100px;
}

#sect_top > div {
  width: 1200px;
  padding-left: 20px;
}

#sect_top .div_img > img {
  width: 450px;
  margin-bottom: 25px;
}

#sect_top .cont {
  width: 600px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

#sect_data {
  height: 630px;
  position: relative;
  width: calc(100vw - 15px);
  padding: 15px;
  overflow: hidden;
}

#sect_data > h1 {
  color: var(--indigo);
  font-size: 2rem;
  margin-bottom: 25px;
}

#sect_data > .wrapper {
  position: relative;
  display: flex;
  z-index: 2;
  overflow: hidden;
}

#sect_data > .wrapper > #opts > li {
  padding: 15px;
  color: var(--indigo);
  font-size: 1.5rem;
  list-style: none;
  background-color: var(--light-blue);
  transition: 300ms;
  cursor: pointer;
}

#sect_data > .wrapper > #opts > .active,
#sect_data > .wrapper > #opts > li:hover {
  color: #fff;
  background-color: var(--indigo);
}

#sect_data > .wrapper > #data {
  height: 424px;
  width: 600px;
  color: var(--blue);
  background-color: #f0f0f0;
}

#sect_data > .wrapper > #data > div {
  line-height: 1.8rem;
}

#sect_data > .wrapper > #data .opt {
  padding: 15px;
  background-color: var(--light-blue);
}

#sect_data > .wrapper > #data > div h1 {
  margin-bottom: 7px;
  color: var(--indigo);
  font-size: 1.5rem;
  font-weight: 900;
}

#sect_data > .wrapper > #data > div h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

#sect_data > .wrapper > #data > div p {
  font-size: 1.3rem;
  font-weight: bold;
}

#sect_data > .wrapper > #data .div_img {
  padding-top: 10px;
  text-align: center;
}

#sect_data > .wrapper > #data > div > .ul_cols {
  display: flex;
  gap: 10px;
}

#sect_data > .wrapper > #data li {
  color: var(--yellow);
  list-style-position: inside;
}

#sect_data > .wrapper > #data li > span {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--blue);
}

#sect_data > .wrapper > #data .shown {
  animation: show 300ms both;
}

#sect_data > .wrapper > #data .hiden {
  animation: hide 300ms both;
}

#sect_data > .div_img > img {
  height: 600px;
  position: absolute;
  right: 0;
  transform: translate(30%, -80%);
}

#sect_beauty {
  padding: 15px;
}

#sect_beauty > .div_carrusel {
  width: fit-content;
  height: 400px;
  display: flex;
  overflow: hidden;
}

#sect_beauty > .div_carrusel div {
  display: flex;
  width: 500px;
  transition: transform 300ms ease;
}

#sect_beauty > .div_carrusel img {
  height: 100%;
  width: 500px;
}

#sect_beauty > .cont {
  font-size: 1.3rem;
  font-weight: bold;
}

#sect_beauty > .cont > p {
  color: var(--blue);
  margin: 20px 0;
}

#sect_beauty > .cont li {
  margin-top: 10px;
  color: var(--yellow);
  list-style-position: inside;
}

#sect_beauty > .cont span {
  color: var(--blue);
}

#sect_lab {
  padding: 75px 25px;
  display: flex;
  gap: 30px;
  background-image: url("../assets/imgs/bg_profaunalab-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#sect_lab > .div_desc {
  color: #fff;
  width: 30%;
}

#sect_lab > .div_desc p {
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: bold;
}

#sect_lab > .div_list {
  display: flex;
  gap: 0 30px;
}

#sect_lab > .div_list li {
  margin: 15px 0;
  color: var(--yellow);
  font-size: 1.3rem;
  font-weight: bold;
  list-style-position: inside;
  white-space: nowrap;
}

#sect_lab > .div_list span {
  color: #fff;
}

#sect_contact {
  background-color: var(--green);
  background-image: url("../assets/imgs/bg_simbolo_verde.png");
  background-position: 0 40%;
  background-repeat: no-repeat;
}

#sect_contact > .cont {
  color: #fff;
  text-align: center;
}

#sect_contact > .cont h1 {
  padding: 75px 0 20px;
  font-size: 2rem;
}

#sect_contact > .cont button {
  background-color: var(--yellow);
}

#sect_contact > .cont button:hover {
  background-color: var(--breen);
}

#sect_contact > .div_img img {
  transform: translateY(3px);
}

#sect_contact > .div_img {
  overflow-x: hidden;
}

@keyframes show {
  0% {
    transform: scaleY(0);
    height: 0;
    padding: 0;
  }

  100% {
    transform: scaleY(100%);
    height: 424px;
    padding: 15px;
  }
}

@keyframes hide {
  0% {
    transform: scaleY(100%);
    height: 424px;
    padding: 15px;
  }

  100% {
    transform: scaleY(0);
    height: 0;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  #sect_lab {
    flex-wrap: wrap;
  }

  #sect_lab > .div_desc {
    width: 100%;
    text-align: center;
  }

  #sect_lab > .div_list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  #sect_data > .wrapper {
    justify-content: center;
  }

  #sect_data > .div_img {
    display: none;
  }
}

@media (max-width: 900px) {
  #sect_data > .wrapper > #opts {
    display: none;
  }

  #sect_data > .wrapper {
    overflow: unset;
  }
}

@media (min-width: 900px) {
  #sect_data > .wrapper > #data .opt {
    display: none;
  }
}

@media (max-width: 650px) {
  #sect_lab > .div_list {
    justify-content: left;
  }
}
